.principal{
  width: 100%;
  height: 1200px;
  background-color: ;
}
.centrodatela{
  width: 1390px;
  height: 100%;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
}
.titulo{
  width: 100%;
  height: 90px;
  background-color: blue;
  display: flex;
  font-size: 25px;
    line-height: 50px;
  text-align: center;

}
.conteudo{
  width: 70%;
  height: 100%;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
}
.isolamentodafoto{
  width: 100%;
  height: 220px;
  background-color: black;
}
.foto{
  width: 23%;
  height: 99%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../imagens/busca/user.png);
  background-size: 270px;
  background-repeat: no-repeat;
  background-position: -20px -5px;

}
.trocarImagem{
  width: 95%;
  height: 215px;
  background-color: rgba(211,211,211,0.5);
  margin-top: 5px;
  border-radius: 50%;
  margin-left: auto;
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  margin-right: auto;
  text-transform:  uppercase;
  display: none;
  color: #696969;
}
.foto:hover>.trocarImagem{
  cursor: pointer;
  display: block;
}
