body{
    overflow-x: hidden;
}

#sectionCima{
    width: 100%;
    height: 1000px;
    display: flex;
}

#sectionBaixo{
    width: 100%;
    height: 500px;
    display: flex;

}

#contCima{
    width: 84%;
    margin-left: 8.5%;

}

#contBaixo{
    width: 84%;
    margin-left: 8.5%;
}

#divTitulos{
    height: 60px;
    width: 100%;

}

#divInformacoes{
    width: 1612,8px;
    height: 580px;
    
}

#divImgGrande{
    height: 500px;
    width: 1200px;

}

#divImgGrande img{
    height: 100%;
    width: 100%;
}

#divisao1{
    height: 100%;
    width: 1200px;

    float: left;
    overflow: hidden;

}

#carrossel{
    height: 80px;
    width: 200%;

}

#divisao2{
    height: 100%;
    width: 398px;
    float: left;

}

.miniatura{
    margin-top: 10px;
    width: 100px;
    height: 60px;
    float: left;
    margin-right: 10px;
    
}

.miniatura img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

#tblTitulo{
    height: 100%;
    width: 100%;
    font-family: Gadugi;
    line-height: 80px;
    color: #000;
}

#tdnomeHotel{
    text-align: left;
    font-size: 25px;

}

#tdlocalHotel{


}

#tdEstrelas{
    text-align: right;
}

#tdEstrelas img{
    user-select:none;
    user-drag:none;
    height: 25px;
    width: 25px;
}

#tdAvaliacao{
    font-size: 25px;
    text-align: right;
    
}

hr{
    margin-top: 20px;
}

#divComodidades{
    height: 300px;
    width: 100%;
}

#divQuarto{
    width: 100%;
    height: 300px;
    
    margin-top: 10px;
    box-shadow: 0px 0px 3px 0px #000;
}

.divInfoQuarto{
    width: 1247px;
    height: 100%;

    float: left;
    border-right: 1px solid #ccc;
    
}

.divReservar{
    width: 350px;
    height: 100%;
    float: left;
}

.imgQuarto{
    width: 260px;
    height: 260px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: aqua;
    float: left;
}

.imgQuarto img{
    width: 100%;
    height: 100%;
}

#divHorarios{
    width: 398px;
    height: 70px;
}

#divInfoHotel{
    width: 388px;
    height: 430px;
    margin-left: 10px;
    overflow: auto;
    text-align: center;
    font-size: 15px;
    font-family: SourceSansRegular;
}

#tableHorarios{
    height: 100%;
    width: 100%;
}

#tableHorarios img{
    height: 32px;
    width: 32px;
    margin-left: 10px;
    margin-top: -100px;
    user-select:none;
    user-drag:none;
}

#tableHorarios span{

    font-size: 18px;
    margin-left: 10px;
    font-family: RalewayRegular;
}

.divTituloQuarto{
    height: 50px;
    width: 900px;
    
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.separador{
    height: 260px;
    width: 300px;
    background-color: black;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
    
}

.comodidade{
    width: 100%;
    height: 55px;
    background-color: aquamarine;
    margin-bottom: 10px;
}

.nomeQuarto{
    height: 100%;
    width: 200px;
    color: #000;
    font-family: CordiaUPC;
    font-size: 40px;
    float: left;
}

.estrelaQuarto{
    float: left;
    width: 200px;
    height: 100%;
    margin-left: 10px;
    
}

.estrelaQuarto img{
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

.textoQuarto{
    height: 120px;
    width: 840px;
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    overflow: auto;
    font-family: RalewayMedium;
    font-size: 15px;
}


