@font-face {
  font-family: Raleway;
    src: url("../fonts/Raleway-Medium.ttf");
  }

.section
{
    margin-left: 150px;
    width: 90%;
    height: 1320px;
    border:black 0px solid;
    background-color: ;
    margin-left: auto;
    margin-right: auto;
}



#divisoria{
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 4;
    color: #000;
    font-weight: normal;
    display: flex;

}


#primeira{

    width:300%;
    height:15px;
    float:left;
    color:black;
    margin-left:20px;
}
#segunda{
    width:20%;
    height:15px;
    float:left;
    color:black;
    font-size:15px;
    margin-top:-10px;
    margin-left:20px;
    margin-right:20px;
}
#terceira{

    width:300%;
    height:15px;
        float:left;
    color:black;
}

#direita{

    width:50%;
    height:1115px;
    float:left;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: ;
}

#meio{
    background-color:black;
    width:1px;
    height:1115px;
    float:left;
    margin-right:5px;
    margin-left:5px;
}

#esquerda{

    width:49%;
    height:1115px;
    float:left;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: ;
}

#divisor{
    width:100%;
    height:100px;
    margin-left:px;
    margin-top:0px;

    background-color:;

}

#iconeesquerdo{
    width:8%;
    height:45px;
    float:left;
    background-image: url(../imagens/parceiros/estrela.png);
    background-size:50px;
    background-repeat: no-repeat;
    background-position: -px 0px;
    margin-top:50px;
}

#parceiroDestaque{
    width:80%;
    height:40px;
    font-size:25px;
    color:black;
    float:left;
    margin-top:60px;
    margin-left:20px;
}


.dadosParceiro{
    width:100%;
    height:15%;
    border:solid 0px black;
    margin-top:0px;
    background-color:;
    margin-top: 10px;

}

.nomeParceiro{

    width:60%;
    height:50%;
    float:left;
    text-align:justify;
    line-height:100px;
    font-size:20px;
    font-family: raleway;
    background-color: ;
    margin-top: 20px;

}
.caixinhasConteudo{
  width: 100%;
  height: 200px;
  background-color: ;
}
.foto{
  width: 200px;
  height: 100%;
  background-color: ;
  float: left;
}
.fotoParceiro{
  width: 70%;
  height: 70%;
  background-color:;
  border-radius: 50%;
  margin-left:350px;

  float:left;
  margin-top: 30px;

    margin-left:30px;
}
.gato{
  width: 100%;
  height: 30px;
  background-color: ;
}
.titulo{
  width: 80%;
  height: 50px;
  background-color: ;
  font-size: 25px;
  margin-top: 50px;
  font-family: raleway;

}
.textoCont{
  width: 100%;
  height: 100px;
  background-color: ;
  margin-top: -30px;
}
.texto{
font-size: 18px;
font-style:italic;
}
  .contCaixinhas{
    width: 700px;
    margin-top: 10px;
    height: 100%;
    background-color:;
  }

#principal{
    width:90%;
    height:85%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    background-color: ;

}
.barra{
    height: 40px;
    border:solid 2px #031634;
    float:left;
    font-size: 18px;
    margin-top:30px;
    margin-left:80px;
}

.botao{
    width: 55px;
    height: 46px;
    margin-top: 30px;
    background-color:#031634;
        float:left;

}


.parteDeBaixo{
  width: 100%;
  height: 800px;
  background-color: ;
}





#iconedireito{
    width:8%;
    height:45px;
    float:left;
    background-image: url(../imagens/parceiros/estrela.png);
    background-size:50px;
    background-repeat: no-repeat;
    background-position: -px 0px;
    margin-top:20px;
}

#parceiroBusca{
    width:80%;
    height:40px;
    font-size:25px;
    color:black;
    float:left;
    margin-top:30px;
    margin-left:20px;
    background-color: ;
}

#detalhesParceiro{

    width:60%;
    height:10%;
    float:left;
    text-align:justify;
    line-height:100px;
    font-size:30px;
    background-color:;
    margin-top:20px;
    margin-left:10px;
}


#imagemParceiro{
  width: 20%;
  height: 40%;
  border-radius: 50%;
  background-color: ;
  border: solid 1px #696969;
  background-image: url(../imagens/parceiros/fachadas.jpg);
  background-size:100%;
  background-repeat: no-repeat;
  background-position: -0px 0px;
    margin-top:60px;
    margin-left:20px;
  float:left;
}
.tituloBusca{
  width: 100%;
  height: 100px;

  background-color: ;
}
#busca{
    width:100%;
    height: 25%;
    background-color: ;
    border-bottom: solid 1px #DCDCDC;
}
.inputBusca{
  width: 100%;
  height: 100px;
  background-color: ;
}

#extra{

    width:95%;
    height:40%;
    border:solid 0px black;
    background-color:#DCDCDC ;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 10px;

}

#detalhes{
    width:65%;
    height:45%;
    margin-left:10px;
    font-size:24px;
    color:black;
    text-align:justify;
    float:left;
    margin-top: 50px;
    background-color: ;
}
#buttonEntrar
{
    display: inline-block;
    width: 60%;
    height: 50px;
    background-color: #031634;
    border: solid 2px rgba(176, 196, 222, 0.8);
    margin-top: 30px;
    line-height: 50px;
    font-size: 18pt;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    user-select: none;
    margin-left:160px;
}

.tituloBuscaParceiro{
  width: 100%;
  height: 50px;
  background-color: ;
  text-align: center;
  font-family: raleway
}
