section
{
    height: 829px;
}

.sectionmilhas
{
    width:100%;
    height:100%;
     -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    margin-bottom: 90px;
    overflow: auto;
}

#titulo{
    text-align:center;
    font-size: 35px;
    font-style: normal;
    color:#4682B4;
    margin-bottom: 100px;
     margin-top: 30px;
   
}
.tbl{
    margin-left: 500px;
    
  
}
Rolagem {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 100%;
height: 100%;
overflow: scroll;
}


.Rolagem::-webkit-scrollbar {
width: 5px;
height: 12px;
background-color:#fff;
}

.Rolagem::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px #CDCDCD;
border-radius: 10px;
background-color:#fff;
}

.Rolagem::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color:#fff;
box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.td{
    width: 300px;
    height: 50px;
    font-size: 30px;
    font-style: normal;
    color:#4682B4;
    
    
}
.td2{
    width: 300px;
    height: 50px;
  
    font-size: 20px;
    font-style: normal;
    color:darkgray;
    
    
}