.principalFaleconosco{
  width: 100%;
  height: 829px;
  background-color: ;
  font-size: 33px;
  text-align: center;
}
.tituloFaleconosco{
  width: 100%;
  height: 50px;
  background-color: ;
  margin-top: 20px;
  font-family: SourceSansRegular;
}
.conteudoFaleconosco{
  width: 100%;
  height: 670px;
  background-color: ;
}
.superior{
  width: 80%;
  height: 50%;
  background-color: ;
  margin-left: auto;
  margin-right: auto;
}
.inferior{
  width: 80%;
  height: 50%;
  background-color: ;
  margin-left: auto;
  margin-right: auto;
}
.imagem{
  width: 48%;
  height: 100%;
  background-color: ;
  float: left;
  margin-left: 10px;
}
.tabela{
  width: 100%;
  height: 50px;
  background-color: ;
  border-bottom: solid 1px #ccc;
}
.imagemGrande{
  width: 50%;
  height: 80%;
  background-color: ;
  margin-left: auto;
  margin-right: auto;
}
.imagemGrande img{
  width: 80%;
}
.td{
  font-size: 33px;

}
.botao input{
    height: 60px;
    width: 150px;
    background-color: #fff;
    border: 2px solid #4682b4;
    border-radius: 8px;
    color:#4682b4;
    font-family: RalewayRegular;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;

    margin-top: 0px;

}

.botao input:hover{
    background-color: #4682b4;
    border: 2px solid #ccc;
    color:#fff;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}
