@font-face {
  font-family: Raleway;
    src: url("../../fonts/Raleway-Medium.ttf");
  }

section
{
    height: 829px;
}

#sectionn
{
    width:100%;
    height: 100%;
    background-color:aqua;

}

#titulo{
    width:100%;
    color:black;
    text-align:center;
    font-size:40px;
    background-color:aquamarine;
  
}


#table{
    width:250px;
    height:60px;
    background-color:antiquewhite;
}

.td{
    width:60px;
    height:25px;
    background-color:bisque;
    margin-left:20px;
    color:black;
    text-align:center;
    font-size:25px;
    font-family:monospace;
}

.linha{
    
}